<div class="container ">
    <ul class="nav">
        <li class="nav-item-">
            <a class="nav-link active" [routerLink]="[ '/binding-data']">Binding Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/http-get']">Http Get</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/input-output']">Input Output</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/ng-calss-style']">Ng Class-Style</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/ng-for-if-switch']">Ng If For Switch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/pipe']">Pipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/navigate-page1']">Navigation</a>
        </li>
    
    </ul>
</div>

<router-outlet></router-outlet>
